* {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    padding-top: 200px;
}

canvas {
    width: 800px;
    height: 400px;
    border: 1px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}